# PyCitySchools Homework - Anne Good

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools
school_count = school_data.count()

In [4]:
# Calculate the total number of students
student_count = student_data.count()

In [5]:
# Calculate the total budget 
total_budget = school_data.sum(numeric_only = True)

In [6]:
# Calculate the average math score
# Calculate the average reading score
test_score_mean = student_data.mean(numeric_only = True)
test_score_reading = test_score_mean[1]
test_score_math =  test_score_mean[2]

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
student_passing_math = student_data.loc[student_data["math_score"] > 70]
student_passing_math_count = student_passing_math.count()
percent_pass_m = (student_passing_math_count/student_count[0])*100

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
student_passing_reading = student_data.loc[student_data["reading_score"] > 70]
student_passing_reading_count = student_passing_reading.count()
percent_pass_r = (student_passing_reading_count/student_count[0])*100

In [9]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
student_passing_both =  student_data.loc[(student_data["reading_score"] > 70) &  (student_data["math_score"] > 70)]
student_passing_both_count = student_passing_both.count()
percent_pass_b = (student_passing_both_count/student_count[0])*100

In [10]:
district_totals = pd.DataFrame(columns = ["Total Schools","Total Students","Total Budget","Avg Math Score", "Avg Reading Score", "% Passing Math","% Passing Reading","% Overall Passing"])
district_totals.at[0,"Total Schools"] = school_count[0]
district_totals.at[0,"Total Students"] = student_count[0]
district_totals.at[0,"Total Budget"] = total_budget[0]
district_totals.at[0,"Avg Math Score"] = test_score_math
district_totals.at[0,"Avg Reading Score"] = test_score_reading
district_totals.at[0,"% Passing Math"] = percent_pass_m [0]
district_totals.at[0,"% Passing Reading"] = percent_pass_r[0]
district_totals.at[0,"% Overall Passing"] = percent_pass_b [0]
district_totals

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,105,78.985371,81.87784,72.392137,82.971662,60.801634

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
school_data.rename(columns = {'school_name' : 'School Name', 'type' : 'School Type', 'size' : 'Total Students', 'budget' : 'Total School Budget'}, inplace = True)
# School Name, School Type, Total Students, Total School Budget - from school_data

#school_data.sort_values(['School Name'], ascending=True)
school_data = school_data.set_index('School Name')
school_data = school_data.sort_values(['School Name'], ascending=True)

In [12]:
# Add a per student budget to school_data 
# create a master data frame 'school_summary' to merge school data and student data 
school_data['Per Student Budget'] =  ( school_data['Total School Budget'] /school_data['Total Students'] )
school_summary = school_data 
school_summary

,School ID,School Type,Total Students,Total School Budget,Per Student Budget
School Name,,,,,
Bailey High School,7,District,4976,3124928,628.0
Cabrera High School,6,Charter,1858,1081356,582.0
Figueroa High School,1,District,2949,1884411,639.0
Ford High School,13,District,2739,1763916,644.0
Griffin High School,4,Charter,1468,917500,625.0
Hernandez High School,3,District,4635,3022020,652.0
Holden High School,8,Charter,427,248087,581.0
Huang High School,0,District,2917,1910635,655.0
Johnson High School,12,District,4761,3094650,650.0
Pena High School,9,Charter,962,585858,609.0
Rodriguez High School,11,District,3999,2547363,637.0
Shelton High School,2,Charter,1761,1056600,600.0
Thomas High School,14,Charter,1635,1043130,638.0
Wilson High School,5,Charter,2283,1319574,578.0
Wright High School,10,Charter,1800,1049400,583.0

In [13]:
# group by the high school 

student_scores = school_data_complete.groupby(["school_name"])
student_scores_mean = student_scores.mean()
#student_scores_mean.sort_values(by=['school_name'])

In [14]:
# get the mean reading and math score by high school 

school_summary['Avg Reading Score'] = student_scores_mean['reading_score'].to_numpy()
school_summary['Avg Math Score'] = student_scores_mean['math_score'].to_numpy()

In [15]:
# Get all rows from the data frame where student has a passing math score (70 or greater)
# "% Passing Math"

student_passing_math = school_data_complete.loc[student_data["math_score"] > 70]
student_passing_math = student_passing_math.groupby(["school_name"])
student_passing_math_group = student_passing_math.count()
student_passing_math_group.head()

school_summary['% Passing Math'] = (((student_passing_math_group['math_score'].to_numpy())/ school_summary['Total Students']) * 100)

In [16]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# "% Passing Reading"

student_passing_reading = school_data_complete.loc[student_data["reading_score"] > 70]
student_passing_reading = student_passing_reading.groupby(["school_name"])
student_passing_reading_group = student_passing_reading.count()
student_passing_reading_group

school_summary['% Passing Reading'] = (((student_passing_reading_group['reading_score'].to_numpy())/ school_summary['Total Students']) * 100)

In [17]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

student_passing_both = school_data_complete.loc[(student_data["reading_score"] > 70) &  (student_data["math_score"] > 70)]
student_passing_both = student_passing_both.groupby(["school_name"])
student_passing_both_group = student_passing_both.count()
student_passing_both_group

# using student_passing_both_group['reading_score'] since any column would work
school_summary['% Overall Passing'] = (((student_passing_both_group['reading_score'].to_numpy())/ school_summary['Total Students']) * 100)

In [18]:
#Display the dataframe for school summary
school_summary

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,64.630225,79.300643,51.145498
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,89.558665,93.864370,84.015070
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,63.750424,78.433367,49.915226
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,65.753925,77.510040,51.296093
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,89.713896,93.392371,83.651226
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,64.746494,78.187702,50.161812
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,90.632319,92.740047,84.074941
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,63.318478,78.813850,49.914296
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,63.852132,78.281874,49.800462
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,91.683992,92.203742,84.823285
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,64.066017,77.744436,49.437359
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,89.892107,92.617831,83.191369
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,90.214067,92.905199,84.281346
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,90.932983,93.254490,84.888305
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,90.277778,93.444444,84.444444

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [19]:
#Sort by % Overall Passing descending
top_performing_schools = school_summary.sort_values(['% Overall Passing'] , ascending=False)
top_performing_schools.head()

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,,
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,90.932983,93.254490,84.888305
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,91.683992,92.203742,84.823285
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,90.277778,93.444444,84.444444
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,90.214067,92.905199,84.281346
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,90.632319,92.740047,84.074941

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [20]:
#Sort by % Overall Passing ascending 
bottom_performing_schools = school_summary.sort_values(['% Overall Passing'] , ascending=True)
bottom_performing_schools.head()

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,,
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,64.066017,77.744436,49.437359
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,63.852132,78.281874,49.800462
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,63.318478,78.813850,49.914296
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,63.750424,78.433367,49.915226
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,64.746494,78.187702,50.161812

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
math_scores_by_grade = school_data_complete.groupby(["school_name","grade"])
math_scores_by_grade_g = math_scores_by_grade.mean()

math_scores_by_grade_g = math_scores_by_grade_g.loc[:,['math_score']]
math_scores_by_grade_g.rename(columns = {'school_name' : 'School Name', 'grade' : 'Grade', 'math_score' : 'Average Math Score'}, inplace = True)

math_scores_by_grade_g

                             Average Math Score
school_name           grade
Bailey High School    10th            76.996772
                      11th            77.515588
                      12th            76.492218
                      9th             77.083676
Cabrera High School   10th            83.154506
                      11th            82.765560
                      12th            83.277487
                      9th             83.094697
Figueroa High School  10th            76.539974
                      11th            76.884344
                      12th            77.151369
                      9th             76.403037
Ford High School      10th            77.672316
                      11th            76.918058
                      12th            76.179963
                      9th             77.361345
Griffin High School   10th            84.229064
                      11th            83.842105
                      12th            83.356164
                      9th             82.044010
Hernandez High School 10th            77.337408
                      11th            77.136029
                      12th            77.186567
                      9th             77.438495
Holden High School    10th            83.429825
                      11th            85.000000
                      12th            82.855422
                      9th             83.787402
Huang High School     10th            75.908735
                      11th            76.446602
                      12th            77.225641
                      9th             77.027251
Johnson High School   10th            76.691117
                      11th            77.491653
                      12th            76.863248
                      9th             77.187857
Pena High School      10th            83.372000
                      11th            84.328125
                      12th            84.121547
                      9th             83.625455
Rodriguez High School 10th            76.612500
                      11th            76.395626
                      12th            77.690748
                      9th             76.859966
Shelton High School   10th            82.917411
                      11th            83.383495
                      12th            83.778976
                      9th             83.420755
Thomas High School    10th            83.087886
                      11th            83.498795
                      12th            83.497041
                      9th             83.590022
Wilson High School    10th            83.724422
                      11th            83.195326
                      12th            83.035794
                      9th             83.085578
Wright High School    10th            84.010288
                      11th            83.836782
                      12th            83.644986
                      9th             83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [22]:
# example grouped_international_data = converted_ufo_df.groupby(['country', 'state'])

reading_scores_by_grade = school_data_complete.groupby(["school_name","grade"])
reading_scores_by_grade_g = reading_scores_by_grade.mean()

reading_scores_by_grade_g = reading_scores_by_grade_g.loc[:,['reading_score']]
reading_scores_by_grade_g.rename(columns = {'school_name' : 'School Name', 'grade' : 'Grade', 'reading_score' : 'Average Reading Score'}, inplace = True)

reading_scores_by_grade_g

                             Average Reading Score
school_name           grade
Bailey High School    10th               80.907183
                      11th               80.945643
                      12th               80.912451
                      9th                81.303155
Cabrera High School   10th               84.253219
                      11th               83.788382
                      12th               84.287958
                      9th                83.676136
Figueroa High School  10th               81.408912
                      11th               80.640339
                      12th               81.384863
                      9th                81.198598
Ford High School      10th               81.262712
                      11th               80.403642
                      12th               80.662338
                      9th                80.632653
Griffin High School   10th               83.706897
                      11th               84.288089
                      12th               84.013699
                      9th                83.369193
Hernandez High School 10th               80.660147
                      11th               81.396140
                      12th               80.857143
                      9th                80.866860
Holden High School    10th               83.324561
                      11th               83.815534
                      12th               84.698795
                      9th                83.677165
Huang High School     10th               81.512386
                      11th               81.417476
                      12th               80.305983
                      9th                81.290284
Johnson High School   10th               80.773431
                      11th               80.616027
                      12th               81.227564
                      9th                81.260714
Pena High School      10th               83.612000
                      11th               84.335938
                      12th               84.591160
                      9th                83.807273
Rodriguez High School 10th               80.629808
                      11th               80.864811
                      12th               80.376426
                      9th                80.993127
Shelton High School   10th               83.441964
                      11th               84.373786
                      12th               82.781671
                      9th                84.122642
Thomas High School    10th               84.254157
                      11th               83.585542
                      12th               83.831361
                      9th                83.728850
Wilson High School    10th               84.021452
                      11th               83.764608
                      12th               84.317673
                      9th                83.939778
Wright High School    10th               83.812757
                      11th               84.156322
                      12th               84.073171
                      9th                83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [23]:
# binning by school spending 
bins = [0,585,630,645,680]
group_names =  ["Less than 585","586-630","631-645","646-680"]
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_names, include_lowest=True)
school_summary

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,64.630225,79.300643,51.145498,586-630
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,89.558665,93.864370,84.015070,Less than 585
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,63.750424,78.433367,49.915226,631-645
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,65.753925,77.510040,51.296093,631-645
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,89.713896,93.392371,83.651226,586-630
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,64.746494,78.187702,50.161812,646-680
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,90.632319,92.740047,84.074941,Less than 585
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,63.318478,78.813850,49.914296,646-680
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,63.852132,78.281874,49.800462,646-680
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,91.683992,92.203742,84.823285,586-630
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,64.066017,77.744436,49.437359,631-645
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,89.892107,92.617831,83.191369,586-630
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,90.214067,92.905199,84.281346,631-645
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,90.932983,93.254490,84.888305,Less than 585
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,90.277778,93.444444,84.444444,Less than 585

In [24]:
#All metrics by Spending Ranges
school_summary_grouped = school_summary.groupby(["Spending Ranges (Per Student)"])["Avg Math Score"].mean().reset_index()

school_summary_grouped_df = school_summary.groupby(["Spending Ranges (Per Student)"])["Avg Reading Score"].mean().reset_index()
school_summary_grouped = pd.merge(school_summary_grouped, school_summary_grouped_df, on=["Spending Ranges (Per Student)", "Spending Ranges (Per Student)"])

school_summary_grouped_df = school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean().reset_index()
school_summary_grouped = pd.merge(school_summary_grouped, school_summary_grouped_df, on=["Spending Ranges (Per Student)", "Spending Ranges (Per Student)"])

school_summary_grouped_df = school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean().reset_index()
school_summary_grouped = pd.merge(school_summary_grouped, school_summary_grouped_df, on=["Spending Ranges (Per Student)", "Spending Ranges (Per Student)"])

school_summary_grouped_df = school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean().reset_index()
school_summary_grouped = pd.merge(school_summary_grouped, school_summary_grouped_df, on=["Spending Ranges (Per Student)", "Spending Ranges (Per Student)"])

school_summary_grouped

,Spending Ranges (Per Student),Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Less than 585,83.455399,83.933814,90.350436,93.325838,84.355690
1,586-630,81.899826,83.155286,83.980055,89.378647,75.702844
2,631-645,78.518855,81.624473,70.946108,81.648261,58.732506
3,646-680,76.997210,81.027843,63.972368,78.427809,49.958857

## Scores by School Size

In [25]:
# binning by school size 
bins = [0,1000,2000,5000]
group_names =  ["Small (<1000)","Medium (1000-1999)","Large (2000-5000)"]
school_summary["School Size"] = pd.cut(school_summary["Total Students"], bins, labels=group_names, include_lowest=True)

In [26]:
#All metrics by School Size 
school_summary_bysize = school_summary.groupby(["School Size"])["Avg Math Score"].mean().reset_index()

school_summary_bysize_df = school_summary.groupby(["School Size"])["Avg Reading Score"].mean().reset_index()
school_summary_bysize = pd.merge(school_summary_bysize, school_summary_bysize_df, on=["School Size", "School Size"])

school_summary_bysize_df = school_summary.groupby(["School Size"])["% Passing Math"].mean().reset_index()
school_summary_bysize = pd.merge(school_summary_bysize, school_summary_bysize_df, on=["School Size", "School Size"])

school_summary_bysize_df = school_summary.groupby(["School Size"])["% Passing Reading"].mean().reset_index()
school_summary_bysize = pd.merge(school_summary_bysize, school_summary_bysize_df, on=["School Size", "School Size"])

school_summary_bysize_df = school_summary.groupby(["School Size"])["% Overall Passing"].mean().reset_index()
school_summary_bysize = pd.merge(school_summary_bysize, school_summary_bysize_df, on=["School Size", "School Size"])

school_summary_bysize

,School Size,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Small (<1000),83.821598,83.929843,91.158155,92.471895,84.449113
1,Medium (1000-1999),83.374684,83.864438,89.931303,93.244843,83.916691
2,Large (2000-5000),77.746417,81.344493,67.631335,80.190800,54.569881

## Scores by School Type

* Perform the same operations as above, based on school type

In [27]:
# group by school type, charter or district 

school_summary_bytype = school_summary.groupby(["School Type"])["Avg Math Score"].mean().reset_index()

school_summary_bytype_df = school_summary.groupby(["School Type"])["Avg Reading Score"].mean().reset_index()
school_summary_bytype = pd.merge(school_summary_bytype, school_summary_bytype_df, on=["School Type", "School Type"])

school_summary_bytype_df = school_summary.groupby(["School Type"])["% Passing Math"].mean().reset_index()
school_summary_bytype = pd.merge(school_summary_bytype, school_summary_bytype_df, on=["School Type", "School Type"])

school_summary_bysize_df = school_summary.groupby(["School Type"])["% Passing Reading"].mean().reset_index()
school_summary_bytype = pd.merge(school_summary_bytype_df, school_summary_bytype, on=["School Type", "School Type"])

school_summary_bysize_df = school_summary.groupby(["School Type"])["% Overall Passing"].mean().reset_index()
school_summary_bytype = pd.merge(school_summary_bysize_df, school_summary_bytype, on=["School Type", "School Type"])

school_summary_bysize

,School Size,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Small (<1000),83.821598,83.929843,91.158155,92.471895,84.449113
1,Medium (1000-1999),83.374684,83.864438,89.931303,93.244843,83.916691
2,Large (2000-5000),77.746417,81.344493,67.631335,80.190800,54.569881

# Observable Conclusions

- Smaller schools have better test scores than larger schools 
- Schools with higher spending per student did not have better test scores than schools with lower spending per student 
- Charter schools have better test scores than district schools