### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools
school_count = school_data.count()

In [4]:
# Calculate the total number of students
student_count = student_data.count()

In [5]:
# Calculate the total budget 
total_budget = school_data.sum(numeric_only = True)

In [6]:
# Calculate the average math score
# Calculate the average reading score
test_score_mean = student_data.mean(numeric_only = True)
test_score_reading = test_score_mean[1]
test_score_math =  test_score_mean[2]

In [17]:
# Calculate the percentage of students with a passing math score (70 or greater)

student_passing_math = student_data.loc[student_data["math_score"] > 70]
student_passing_math_count = student_passing_math.count()
percent_pass_m = (student_passing_math_count/student_count[0])*100

print(percent_pass_m)

Student ID       72.392137
student_name     72.392137
gender           72.392137
grade            72.392137
school_name      72.392137
reading_score    72.392137
math_score       72.392137
dtype: float64

In [14]:
# Calculate the percentage of students with a passing reading score (70 or greater)
student_passing_reading = student_data.loc[student_data["reading_score"] > 70]
student_passing_reading_count = student_passing_reading.count()
percent_pass_r = (student_passing_reading_count/student_count[0])*100
print(percent_pass_r)

Student ID       82.971662
student_name     82.971662
gender           82.971662
grade            82.971662
school_name      82.971662
reading_score    82.971662
math_score       82.971662
dtype: float64

In [24]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
student_passing_both =  student_data.loc[(student_data["reading_score"] > 70) &  (student_data["math_score"] > 70)]
student_passing_both_count = student_passing_both.count()
percent_pass_b = (student_passing_both_count/student_count[0])*100
print(percent_pass_b)

Student ID       60.801634
student_name     60.801634
gender           60.801634
grade            60.801634
school_name      60.801634
reading_score    60.801634
math_score       60.801634
dtype: float64

In [25]:
district_totals = pd.DataFrame(columns = ["Total Schools","Total Students","Total Budget","Avg Math Score", "Avg Reading Score", "% Passing Math","% Passing Reading","% Passing Both"])
district_totals.at[0,"Total Schools"] = school_count[0]
district_totals.at[0,"Total Students"] = student_count[0]
district_totals.at[0,"Total Budget"] = total_budget[0]
district_totals.at[0,"Avg Math Score"] = test_score_math
district_totals.at[0,"Avg Reading Score"] = test_score_reading
district_totals.at[0,"% Passing Math"] = percent_pass_m [0]
district_totals.at[0,"% Passing Reading"] = percent_pass_r[0]
district_totals.at[0,"% Passing Both"] = percent_pass_b [0]
district_totals

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,15,39170,105,78.985371,81.87784,72.392137,82.971662,60.801634

In [ ]:
# Format Output of Dataframe (optional)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [30]:
school_data_complete.head(30)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635

In [46]:
school_data_group = school_data_complete.groupby(["school_name"])

school_data_group_totals = school_data_group.sum()
school_data_group_totals

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039
Ford High School,99055935,221164,211184,35607,7502121,4831365924
Griffin High School,19077394,123043,122360,5872,2155024,1346890000
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700
Holden High School,9846620,35789,35784,3416,182329,105933149
Huang High School,4252986,236810,223528,0,8508889,5573322295
Johnson High School,154327815,385481,366942,57132,22667121,14733628650
Pena High School,22851829,80851,80654,8658,925444,563595396
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637
Shelton High School,11879706,147441,146796,3522,3101121,1860672600
Thomas High School,62705520,137093,136389,22890,2673225,1705517550
Wilson High School,33950493,191748,190115,11415,5212089,3012587442
Wright High School,45243900,151119,150628,18000,3240000,1888920000

In [44]:
#school_data_group_totals = school_data_group_totals.loc[ ["school_name", "budget"], :]

In [29]:
school_totals = pd.DataFrame(columns = ["School Name","School Type","Total Students","Total School Budget","Per Student Budget","Avg Math Score", "Avg Reading Score", "% Passing Math","% Passing Reading","Overall Passing"])
school_totals

Empty DataFrame
Columns: [School Name, School Type, Total Students, Total School Budget, Per Student Budget, Avg Math Score, Avg Reading Score, % Passing Math, % Passing Reading, Overall Passing]
Index: []

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type