# PyCitySchools Homework - Anne Good

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools
school_count = school_data.count()

In [4]:
# Calculate the total number of students
student_count = student_data.count()

In [5]:
# Calculate the total budget 
total_budget = school_data.sum(numeric_only = True)

In [6]:
# Calculate the average math score
# Calculate the average reading score
test_score_mean = student_data.mean(numeric_only = True)
test_score_reading = test_score_mean[1]
test_score_math =  test_score_mean[2]

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
student_passing_math = student_data.loc[student_data["math_score"] > 70]
student_passing_math_count = student_passing_math.count()
percent_pass_m = (student_passing_math_count/student_count[0])*100

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
student_passing_reading = student_data.loc[student_data["reading_score"] > 70]
student_passing_reading_count = student_passing_reading.count()
percent_pass_r = (student_passing_reading_count/student_count[0])*100

In [9]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
student_passing_both =  student_data.loc[(student_data["reading_score"] > 70) &  (student_data["math_score"] > 70)]
student_passing_both_count = student_passing_both.count()
percent_pass_b = (student_passing_both_count/student_count[0])*100

In [10]:
district_totals = pd.DataFrame(columns = ["Total Schools","Total Students","Total Budget","Avg Math Score", "Avg Reading Score", "% Passing Math","% Passing Reading","% Overall Passing"])
district_totals.at[0,"Total Schools"] = school_count[0]
district_totals.at[0,"Total Students"] = student_count[0]
district_totals.at[0,"Total Budget"] = total_budget[0]
district_totals.at[0,"Avg Math Score"] = test_score_math
district_totals.at[0,"Avg Reading Score"] = test_score_reading
district_totals.at[0,"% Passing Math"] = percent_pass_m [0]
district_totals.at[0,"% Passing Reading"] = percent_pass_r[0]
district_totals.at[0,"% Overall Passing"] = percent_pass_b [0]
district_totals

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,105,78.985371,81.87784,72.392137,82.971662,60.801634

In [11]:
# Format Output of Dataframe (optional)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data.rename(columns = {'school_name' : 'School Name', 'type' : 'School Type', 'size' : 'Total Students', 'budget' : 'Total School Budget'}, inplace = True)
# School Name, School Type, Total Students, Total School Budget - from school_data

#school_data.sort_values(['School Name'], ascending=True)
school_data = school_data.set_index('School Name')
school_data = school_data.sort_values(['School Name'], ascending=True)

In [13]:
# Add a per student budget to school_data 
# create a master data frame 'school_summary' to merge school data and student data 
school_data['Per Student Budget'] =  ( school_data['Total School Budget'] /school_data['Total Students'] )
school_summary = school_data 
school_summary

,School ID,School Type,Total Students,Total School Budget,Per Student Budget
School Name,,,,,
Bailey High School,7,District,4976,3124928,628.0
Cabrera High School,6,Charter,1858,1081356,582.0
Figueroa High School,1,District,2949,1884411,639.0
Ford High School,13,District,2739,1763916,644.0
Griffin High School,4,Charter,1468,917500,625.0
Hernandez High School,3,District,4635,3022020,652.0
Holden High School,8,Charter,427,248087,581.0
Huang High School,0,District,2917,1910635,655.0
Johnson High School,12,District,4761,3094650,650.0
Pena High School,9,Charter,962,585858,609.0
Rodriguez High School,11,District,3999,2547363,637.0
Shelton High School,2,Charter,1761,1056600,600.0
Thomas High School,14,Charter,1635,1043130,638.0
Wilson High School,5,Charter,2283,1319574,578.0
Wright High School,10,Charter,1800,1049400,583.0

In [14]:
# group by the high school 

student_scores = school_data_complete.groupby(["school_name"])
student_scores_mean = student_scores.mean()
#student_scores_mean.sort_values(by=['school_name'])

In [15]:
# get the mean reading and math score by high school 

school_summary['Avg Reading Score'] = student_scores_mean['reading_score'].to_numpy()
school_summary['Avg Math Score'] = student_scores_mean['math_score'].to_numpy()

In [16]:
# Get all rows from the data frame where student has a passing math score (70 or greater)
# "% Passing Math"

student_passing_math = school_data_complete.loc[student_data["math_score"] > 70]
student_passing_math = student_passing_math.groupby(["school_name"])
student_passing_math_group = student_passing_math.count()
student_passing_math_group.head()

school_summary['% Passing Math'] = (((student_passing_math_group['math_score'].to_numpy())/ school_summary['Total Students']) * 100)

In [17]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# "% Passing Reading"

student_passing_reading = school_data_complete.loc[student_data["reading_score"] > 70]
student_passing_reading = student_passing_reading.groupby(["school_name"])
student_passing_reading_group = student_passing_reading.count()
student_passing_reading_group

school_summary['% Passing Reading'] = (((student_passing_reading_group['reading_score'].to_numpy())/ school_summary['Total Students']) * 100)

In [18]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

student_passing_both = school_data_complete.loc[(student_data["reading_score"] > 70) &  (student_data["math_score"] > 70)]
student_passing_both = student_passing_both.groupby(["school_name"])
student_passing_both_group = student_passing_both.count()
student_passing_both_group

# using student_passing_both_group['reading_score'] since any column would work
school_summary['% Overall Passing'] = (((student_passing_both_group['reading_score'].to_numpy())/ school_summary['Total Students']) * 100)

In [19]:
#Display the dataframe for school summary
school_summary

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,64.630225,79.300643,51.145498
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,89.558665,93.864370,84.015070
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,63.750424,78.433367,49.915226
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,65.753925,77.510040,51.296093
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,89.713896,93.392371,83.651226
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,64.746494,78.187702,50.161812
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,90.632319,92.740047,84.074941
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,63.318478,78.813850,49.914296
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,63.852132,78.281874,49.800462
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,91.683992,92.203742,84.823285
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,64.066017,77.744436,49.437359
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,89.892107,92.617831,83.191369
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,90.214067,92.905199,84.281346
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,90.932983,93.254490,84.888305
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,90.277778,93.444444,84.444444

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [20]:
#Sort by % Overall Passing descending
top_performing_schools = school_summary.sort_values(['% Overall Passing'] , ascending=False)
top_performing_schools.head()

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,,
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,90.932983,93.254490,84.888305
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,91.683992,92.203742,84.823285
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,90.277778,93.444444,84.444444
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,90.214067,92.905199,84.281346
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,90.632319,92.740047,84.074941

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [21]:
#Sort by % Overall Passing ascending 
bottom_performing_schools = school_summary.sort_values(['% Overall Passing'] , ascending=True)
bottom_performing_schools.head()

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,,
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,64.066017,77.744436,49.437359
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,63.852132,78.281874,49.800462
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,63.318478,78.813850,49.914296
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,63.750424,78.433367,49.915226
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,64.746494,78.187702,50.161812

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [22]:
math_scores_by_grade = school_data_complete.groupby(["school_name","grade"])
math_scores_by_grade_g = math_scores_by_grade.mean()

math_scores_by_grade_g.head()

                             Student ID  reading_score  math_score  School ID  \
school_name         grade
Bailey High School  10th   20365.058918      80.907183   76.996772        7.0
                    11th   20345.148681      80.945643   77.515588        7.0
                    12th   20386.724708      80.912451   76.492218        7.0
                    9th    20344.481481      81.303155   77.083676        7.0
Cabrera High School 10th   16909.487124      84.253219   83.154506        6.0

                             size     budget
school_name         grade
Bailey High School  10th   4976.0  3124928.0
                    11th   4976.0  3124928.0
                    12th   4976.0  3124928.0
                    9th    4976.0  3124928.0
Cabrera High School 10th   1858.0  1081356.0

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [23]:
# example grouped_international_data = converted_ufo_df.groupby(['country', 'state'])

reading_scores_by_grade = school_data_complete.groupby(["school_name","grade"])
reading_scores_by_grade_g = reading_scores_by_grade.mean()

reading_scores_by_grade_g.head()

                             Student ID  reading_score  math_score  School ID  \
school_name         grade
Bailey High School  10th   20365.058918      80.907183   76.996772        7.0
                    11th   20345.148681      80.945643   77.515588        7.0
                    12th   20386.724708      80.912451   76.492218        7.0
                    9th    20344.481481      81.303155   77.083676        7.0
Cabrera High School 10th   16909.487124      84.253219   83.154506        6.0

                             size     budget
school_name         grade
Bailey High School  10th   4976.0  3124928.0
                    11th   4976.0  3124928.0
                    12th   4976.0  3124928.0
                    9th    4976.0  3124928.0
Cabrera High School 10th   1858.0  1081356.0

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [24]:
# binning by school spending 
bins = [0,585,630,645,680]
group_names =  ["Less than 585","586-630","631-645","646-680"]
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_names, include_lowest=True)
school_summary

,School ID,School Type,Total Students,Total School Budget,Per Student Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,64.630225,79.300643,51.145498,586-630
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,89.558665,93.864370,84.015070,Less than 585
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,63.750424,78.433367,49.915226,631-645
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,65.753925,77.510040,51.296093,631-645
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,89.713896,93.392371,83.651226,586-630
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,64.746494,78.187702,50.161812,646-680
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,90.632319,92.740047,84.074941,Less than 585
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,63.318478,78.813850,49.914296,646-680
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,63.852132,78.281874,49.800462,646-680
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,91.683992,92.203742,84.823285,586-630
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,64.066017,77.744436,49.437359,631-645
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,89.892107,92.617831,83.191369,586-630
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,90.214067,92.905199,84.281346,631-645
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,90.932983,93.254490,84.888305,Less than 585
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,90.277778,93.444444,84.444444,Less than 585

In [39]:
#Average math score grouoped by Spending Ranges
school_summary_grouped_m = school_summary.groupby(["Spending Ranges (Per Student)"])["Avg Math Score"].mean().reset_index()
school_summary_grouped_r = school_summary.groupby(["Spending Ranges (Per Student)"])["Avg Reading Score"].mean().reset_index()

school_summary_grouped = school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean().reset_index()
school_summary_grouped = school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean().reset_index()
school_summary_grouped = school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean().reset_index()


type(school_summary_grouped)

pandas.core.frame.DataFrame

## Scores by School Size

In [ ]:
# binning by school size

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# binning by school type